<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<th:block th:fragment="head">
    <title>Docker container management platform</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>

    <!--CSS styles-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/semantic/semantic.min.css}"/>
    <!--/CSS styles-->

    <!--Javascript files-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/css/semantic/semantic.min.js}"></script>
    <!--/Javascript files-->
</th:block>
</html>