<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<th:block th:fragment="navbar">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="#" class="header item">
                <i class="cloud icon"></i>
                DockAir
            </a>
            <a th:href="@{/index}" class="item">Home</a>
            <a th:href="@{/index}" class="item">Containers</a>
            <a th:href="@{/index}" class="item">Groups</a>
            <a th:href="@{/index}" class="item">Images</a>
            <a th:href="@{/index}" class="item">Account</a>
        </div>
    </div>
</th:block>

