<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta th:replace="fragments/header :: head"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/site.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/container.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/image.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/divider.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/segment.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/button.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/semantic/components/icon.css}">

    <style type="text/css">

        .masthead.segment {
            min-height: 400px;
            padding: 1em 0;
        }

        .masthead .logo.item img {
            margin-right: 1em;
        }

        .masthead h1.ui.header {
            margin-top: 1em;
            margin-bottom: 0;
            font-size: 4em;
            font-weight: normal;
        }

        .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
        }

        .ui.vertical.stripe {
            padding: 6em 0;
        }

        .ui.vertical.stripe h3 {
            font-size: 2em;
        }

        .ui.vertical.stripe .button + h3,
        .ui.vertical.stripe p + h3 {
            margin-top: 3em;
        }

        .ui.vertical.stripe p {
            font-size: 1.33em;
        }

        @media only screen and (max-width: 700px) {

            .masthead.segment {
                min-height: 350px;
            }

            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }

            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        }
    </style>
</head>
<body>
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                DockAir
            </h1>
            <h2>Manage your <i class="docker icon"></i> containers in the <i class="cloud icon"></i></h2>
            <br>
            <button class="ui huge inverted button" id="login">Login</button>
            <button class="ui huge inverted button" id="register">Register</button>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">Dockerize your Microservices</h3>
                    <p>Manage your web services by simply specifying your Docker image on DockerHub and manage it on our
                        platform.</p>
                    <h3 class="ui header">Expose your Web Services</h3>
                    <p>Bla Bla Bla aertzju kljhgw egtfrh juklj hgtf rewg fjkjhg fregfr thjuk lhgfd.</p>
                </div>
                <div class="six wide right floated column">
                    <img src="https://free.clipartof.com/1649-Free-Clipart-Of-A-Cloud-Blowing-Wind.jpg"
                         class="ui large rounded image">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="ui mini modal">

</div>
<script>

    function showModal(page) {
        $('.mini.modal').load(page, function () {
            registerButtons();
            $('.mini.modal')
                .modal('show');
        });
    }

    function registerButtons() {
        $('#login').click(function () {
            showModal("/login")
        });
        $('#register').click(function () {
            showModal("/register")
        });
    }

    $(document).ready(function () {
        registerButtons();
    });
</script>
</body>
</html>